*{
    MARGIN: 0PX
    PADDING:0PX
    FONT-FAMILY:POPPPINS;
    BOX-SIZING:BORDER-BOX;
}

A{
    TEXT-DECORATION:NONE;
}
#TESTIMONIALS{
    DISPLAY:FLEX;
    JUSTIFY-CONTENT:CENTRE;
    ALIGHN-ITEMS:CENTER;
    FLEX-DIRECTION:COLLUMN;
    WIDTH:100%;
}
.TESTIMONIAL-HEADING
{
    LETTER-SPACEING:1PX;
    MARGIN:30P 0PX;
    PADDING:10PX 20PX;
    DISPLAY:FLEX;
    FLEX-DIRECTION:COLLUMN;
    JUSTIFY-CONTENT:CENTER;

}

.TESTIMONIAL-HEADING-H1
{
    FONT-SIZE:2.2REM;
    FONT-WEIGHT:500;
    COLOR:#000000;
    TEXT-ALIGN:CENTER;
    COLORS:#ffffff;
    PADDING:10PX 20PX;
}
.TESTIMONIAL-HEADING-SPAN
{
    FONT-SIZE:1.3REM;    
    COLOR:#231c1c;
    TEXT-ALIGN:CENTER;
    MARGIN-BOTTOM:10PX;
    LETTER-SPACING:2PX;
    TEXT-TRANSFORM:UPPERCASE;
}

.TESTIMONIAL-BOX-CONTAINER
{
    DISPLAY:FLEX;
    JUSTIFY-CONTENT:CENTRE;
    ALIGHN-ITEMS:CENTER;
    FLEX-WRAP:WRAP;
    WIDTH:100%;
}
.TESTIMONIAL-BOX{
    WIDTH:500PX;
    BOX-SHADOW:2PX 2PX 30PX RGBA(0,0,0,0.0.1);
    BACKGROUND-COLOR:#ffffff;
    PADDING:20%;
    MARGIN:15PX;
    CURSOR:POINTER;
}
.PROFILE-IMG{
    WIDTH;50PX;
    HEIGHT:50PX;
    BORDER-RADIUS:50%;
    OVERFLOW:HIDDEN;
    MARGIN-RIGHT:10PX;
}
.PROFILE-IMG IMG{
    WIDTH;50PX;
    HEIGHT:50PX;
    OBJECT-FIT:COVER;
    OBJECT-POSITION:CENTER;
}
.PROFILE{
    DISPLAY:FLEX;
    ALIGHN-ITEMS:CENTER;
}
.NAME-USER{
    DISPLAY:FLEX
    FLEX-DIRECTION:COLUMN;
}

.NAME-USER STRONG{
    COLOR: #3d3d3d;
    FONT-SIZE:1.1REM;
    LETTER-SPACING:0.5PX;
}

.NAME-USER SPAN{
    COLOR:#979797;
    FONT-SIZE:0.8REM;
}
.REVIEWS{
    COLOR:#F9D71C;
}
.BOX-TOP{
    DISPLAY:FLEX;
    ALIGHN-ITEMS:CENTER;
    JUSTIFY-CONTENT:SPACE-BETWEEN;
    MARGIN-BOTTOM:20PX;
}

.CLIENT-COMMENT{    
    FONT-SIZE:0.9REM;
    COLOR: #4b4b4b;    
}
.TESTIMONIAL-BOX:HOVER{
    TRANSFORM:TRANSLATEY(-10PX00);
    TRANSITION: ALL EASE 0.3S;
}

@MEDIA(MAX-WIDTH:1060PX){
    .TESTIMONIAL-BOX{
        WIDTH:45%
        PADDING:10PX;
    }
}
@MEDIA(MAX-WIDTH: 790PX){
        .TESTIMONIAL-BOX{
        WIDTH:100%;       
    }
    .TESTIMONIAL-HEADING-H1{
        FONT-SIZE:1.4REM; }
    }

@MEDIA(MAX-WIDTH:340PX){
    .BOX-TOP{
        FLEX-WRAP:WRAP;
        MARGIN-BOTTOM;10PX;
    }
    .REVIEWS{
        MARGIN-TOP:10PX;
    }
}
::SELECTION[
    COLOR:#FFFFFF;
    BACKGROUND-COLOR:#252525;
]
